
/*--------------------------------------colours */
body{
    background-color: #b9b7b7;
}

/*--------------------------------------Special paddings/margins/text */
#about{
    margin: 0;
    padding-top: 100px;
}

/*--------------------------------------navbar */
.navbar-brand{
    color: rgb(247, 3, 3);
    float: left;
}

