@import url('https://fonts.googleapis.com/css?family=Titillium Web:200,300,400,500,600|Roboto:100,200,300,400,500,600,700');
/*--------------------------------------colours */
body{
    background-color: #000000;
    color: #ffffff;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 200px;
}

a.social-icon{
    color: gold;
}

.link-contact{
    color: white;
    text-decoration: none;
}

.link-contact:hover{
    color: gold;
}

.main-name{
    color: white;
    text-decoration-color: gold;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}
.main-name:hover{
    color: white;
}

/*--------------------------------------Special paddings/margins/text */
.contact-page{
    padding-top: 100px;
}

.home-intro{
    top: 50%;
    display: inline-block;
}


/*--------------------------------------navbar */
.navbar-brand{
    float: left;
}

/*--------------------------------------carousel */
.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}



/*--------------------------------------Home Page */
.introduction-title{
    font-size: 4.5rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
}

.home-intro-image{
    background-image: url(../img/profile-photo.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 80%;
}

/*--------------------------------------Skill Progress Bars */
.progress_bar .pro-bar {
    background: hsl(0, 0%, 97%);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height:4px;
    margin-bottom: 12px;
    margin-top: 50px;
    position: relative;
}
.progress_bar .progress_bar_title{
    color: hsl(218, 4%, 50%);
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: -28px;
    z-index: 1;
}
.progress_bar .progress_number{
    float: right;
}

.progress_bar .progress-bar-inner {
    background-color: hsl(0, 0%, 88%);
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}
.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}
.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}
