@import url('https://fonts.googleapis.com/css?family="Titilum Web":100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------colours */
body{
    background-color: #000000;
    color: #ffffff;
}

/*--------------------------------------Special paddings/margins/text */
.pages{
    /*padding-top: 100px; have to add padding when smaller for intro*/
    height: 100vh;
}

.contact-page{
    padding-top: 100px;
}

.home-intro{
    top: 50%;
    display: inline-block;
}


/*--------------------------------------navbar */
.navbar-brand{
    float: left;
}

/*--------------------------------------carousel */
.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.carousel-item{
    height: 400pxpx;
}

/*--------------------------------------Home Page */
.introduction-title{
    font-size: 5rem;
    font-family: "Titilum Web", sans-serif;
    font-weight: 700;
}

