@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------colours */
body{
    background-color: #b9b7b7;
}

/*--------------------------------------Special paddings/margins/text */
.pages{
    padding-top: 100px;
}

/*--------------------------------------navbar */
.navbar-brand{
    color: rgb(247, 3, 3);
    float: left;
}

/*--------------------------------------carousel */
.carousel-indicators [data-bs-target]{
    height: 30px;
    border-radius: 50%;
}

/*--------------------------------------Home Page */
.introduction-title{
    font-size: 5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

.portfolio-button{
}